
<table id="results" class="display">
  <thead>
  <tr>
    <th>Pid</th>
    <th>Structure</th>
    <th>Product Details</th>
    <th>Drug Master Fils(DMFs)</th>
    <th>In Stock</th>
    <th>Supplier</th>
  </tr>
  </thead>
  <tbody>
  <% @compounds.each do |compound| %>
      <tr>
        <td><%= link_to(compound.compound_id,compound) %></td>
        <td><%= link_to(image_tag("noimage.png"),compound) %></td>
        <td>
          <b>Name:</b>
          <%= link_to(compound.name,compound) %></br>
          <b>CAS No:    </b>
          <%= compound.cas %></br>
          <b>Formula:</b>
          <%= compound.mf %></br>
          <b>Weight: </b>
          <%= compound.mw %></br>

        </td>
        <td><%= compound.get_dmf(compound) %></td>
        <td><%= compound.mf %></td>
        <td><%= compound.mw %></td>
      </tr>
  <% end %>
  </tbody>

</table>

